<%= form_for(@recipe) do |f| %>
<h1>レシピ編集</h1>
  <h4>レシピタイトル</h4>
  <%= f.text_field :title %>
  <h4>材料・分量</h4>
  <%= f.text_field :material %>
  <h4>紹介文</h4>
  <%= f.text_area :body %>
  <h4>作り方</h4>
  <%= f.text_area :procedure %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>  <%= f.submit '保存' %>

<% end %>