<div class ="container">
 <div class = "col-xs-9">
  <h2>レシピ一覧</h2>
  <table class="table">
   <thead>
   	<tr>
   	 <th></th>
   	 <th>タイトル</th>
   	 <th>紹介</th>
   	 <th>作成者・コメント数</th>
   	 <th colspan="4"></th>
   	</tr>
   <% @recipes.each do |recipe| %>
    <tr>
     <th><%= attachment_image_tag recipe.user, :profile_image , format: "jpeg" , fallback:'no_image.jpg' ,size:'50x50' %>
     </th>
     <th><%= link_to recipe.title, "recipes/#{recipe.id}" %></th>
     <th><%= recipe.body %></th>
     <th>
      <ul class="inline-meta">
       <li>By
        <%= recipe.user.name %>
       </li>
       <li>
       <%= link_to "#{recipe.recipe_comments.count} コメント", recipe_path(recipe.id) %>
       </li>
      </ul>
    </th>
    </tr>
   <% end %>
   </thead>
  </table>
 </div>
</div>